[submodule "apps/wiggin.dev"]
	path = apps/wiggin.dev
	url = https://github.com/wiggindev/wiggin.dev
[submodule "apps/wiggin.link"]
	path = apps/wiggin.link
	url = https://github.com/wiggindev/wiggin.link
